{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <section class="page-section d-flex align-items-center">
        <div class="container">
            <div class="row text-center w-50 m-auto">
                {% if lostPasswordConfirmation %}
                    <h1 class="h3 mb-5 font-weight-normal">Confirmation</h1>
                    <div>
                        Un lien de réinitialisation vient de vous être envoyé par e-mail.
                    </div>
                {% else %}
                    <h1 class="h3 mb-5 font-weight-normal">Mot de passe oublié</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {% if error %}
                        <div class="alert alert-danger mx-4 fs-6">{{ error }}</div>
                    {% endif %}
                    <button class="btn btn-lg btn-primary mt-4">{{ button_label|default('Valider') }}</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}