{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <section class="page-section d-flex align-items-center">
        <div class="container">
            <div class="row text-center w-50 m-auto">
                {% if resetPasswordConfirmation %}
                    <h1 class="h3 mb-5 font-weight-normal">Confirmation</h1>
                    <div>
                        Votre nouveau mot de passe a bien été enregistré.
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_account') }}"
                           class="btn btn-lg btn-primary mt-4">{{ button_label|default('Mon account') }}</a>
                    {% else %}
                        <a href="{{ path('app_login') }}"
                           class="btn btn-lg btn-primary mt-4">{{ button_label|default('Se connecter') }}</a>
                    {% endif %}
                {% else %}
                    <h1 class="h3 mb-5 font-weight-normal">Réinitialisation du mot de passe</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {% if error %}
                        <div class="alert alert-danger mx-4 fs-6">{{ error }}</div>
                    {% endif %}
                    <button class="btn btn-lg btn-primary mt-4">{{ button_label|default('Valider') }}</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}