{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="page-section d-flex align-items-center">
        <div class="container">
            <div class="row text-center w-50 m-auto">
                {% if signUpConfirmation %}
                    <h1 class="h3 mb-5 font-weight-normal">Confirmation</h1>
                    <div>
                        Votre compte a été créé avec succès.
                    </div>
                    <a href="{{ path('app_login') }}"
                       class="btn btn-lg btn-primary mt-4">{{ button_label|default('Se connecter') }}</a>
                {% else %}
                    <h1 class="h3 mb-5 font-weight-normal">Inscription</h1>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-lg btn-primary mt-4">{{ button_label|default('Valider') }}</button>
                    {{ form_end(form) }}
                    <p class="mt-5">
                        <a href="{{ path('app_login') }}">Se connecter</a><br>
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
