<div class="tab-pane fade {{ tabs.chat.active }}" id="pills-chat" role="tabpanel" aria-labelledby="pills-contact-tab">
    <div class="row w-50 m-auto text-center">
        <h4 class="section-heading text-uppercase mb-3">Nouveau message</h4>
        {% if app.user %}
            {{ form(formComment) }}
        {% else %}
            <div>Vous devez être connecté pour laisser un commentaire. <a
                        href="{{ path('app_login') }}">Se
                    connecter</a></div>
        {% endif %}
    </div>

    <div class="row w-75 m-auto text-center">
        <h4 class="section-heading text-uppercase mt-5 mb-3">Derniers messages</h4>
        {% for comment in comments %}
            {{ include('trick/_comment.html.twig') }}
        {% endfor %}
        {{ include('components/_pagination.html.twig', {'pagination': paginationComments}) }}
    </div>
</div>