<div class="tab-pane fade {{ tabs.gallery.active }}" id="pills-gallery" role="tabpanel"
     aria-labelledby="pills-home-tab">
    <!-- Medias Image -->
    <h3 class="mt-lg-4">Images</h3>
    <div class="row" id="portfolio">
        {% for image in trick.images %}
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#imageModal{{ image.id }}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-eye fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ image(image) }}"
                             alt="{{ image.title }}"/>
                    </a>
                </div>
                <div>{{ image.title }}</div>
            </div>
        {% endfor %}
    </div>
    <!-- Medias Video -->
    <h3 class="mt-lg-5">Vidéos</h3>
    <div class="row">
        {% if trick.videos|length > 0 %}
            {% for video in trick.videos %}
                <div class="col-lg-3 col-sm-6 mb-4">
                    {{ include('trick/_players.html.twig', {video: video}) }}
                    <div>{{ video.title }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div><i>Aucune vidéo. Editez le trick pour en ajouter.</i></div>
        {% endif %}
    </div>
</div>
