<div class="tab-pane fade {{ tabs.informations.active }}" id="pills-informations" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="text-center">
        <h3 class="section-subheading text-muted">{{ trick.description }}</h3>
    </div>
    <div class="row text-center">
        <span>Crée le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }}</span>
        <span>Mis à jour le {{ trick.updatedAt | date('d/m/Y') }} à {{ trick.updatedAt | date('H:i') }}</span>
    </div>
    <div class="row text-center">
        Groupes : {{ trick.group }}
    </div>
    <a href="{{ path('trick_edit', {'slug':trick.slug}) }}"
       class="btn btn-primary mx-auto d-block w-25">Editer le Trick</a>
</div>