<!-- Navigation-->
{% set transparent = (isHeaderTransparent) ? ' navbar-transparent' %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top{{ transparent }}" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}#page-top"><img src="/assets/img/snowtricks-logo.svg"
                                                                        alt="Logo de SnowTricks"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}#tricks">Tricks</a></li>
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_sign_up') }}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>