<div class="comment text-start">
    {% set deleteButton = '' %}
    {% if app.user and app.user.id == comment.user.id %}
        {% set deleteButton = ' - ' ~ include('trick/_comment_delete_form.html.twig') %}
    {% endif %}
    <div class="comment-author-gravatar"><b>{{ gravatar(comment.user.email) }}</b></div>
    <div class="comment-author"><b>{{ comment.user }}</b></div>
    <div class="comment-content">{{ comment.comment }}</div>
    <div class="comment-date"><small>Le {{ comment.createdAt|date('d/m/Y') }}{{ deleteButton|raw }}</small></div>
</div>