{% if colLg is not defined %}
    {% set colLg = 4 %}
{% endif %}
{% for trick in tricks %}
    <div class="col-lg-{{ colLg}} col-sm-6 mb-4">
        <div class="trick-item">
            <a class="trick-link" href="{{ path('trick', {'slug':trick.slug}) }}">
                <img class="img-fluid" src="{{ image(trick.featuredImage) }}" alt="..."/>
            </a>
            <div class="trick-caption">
                <div class="trick-caption-heading d-inline-flex">
                    {{ trick.title }}
                    {% if app.user and (app.user == trick.user or is_granted('ROLE_ADMIN')) %}
                        <div class="ms-3">
                            <a href="{{ path('trick_edit', {'slug':trick.slug}) }}">
                                <i class="far fa-edit"></i></a>
                            {{ include('trick/_trick_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                </div>
                <div class="trick-caption-subheading text-muted">{{ trick.description }}</div>
            </div>
        </div>
    </div>
{% endfor %}