{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}
        {% if trick.featuredImage %}
        <section id="trick-header" class="page-section mt-4">
            <div class="container" style="background-image: url({{ image(trick.featuredImage) }})">
                <h1 class="masthead-heading text-uppercase">{{ trick.title }}</h1>
            </div>
        </section>
        {% else %}
            <section class="pb-3 mt-sm-5">
                <div class="container">
                    <h1 class="fs-2">Ajout d'un trick</h1>
                </div>
            </section>
        {% endif %}

    <!-- Services-->
    <section class="page-section pt-0">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.description) }}
            {% if form.featuredImage is defined %}
                {{ form_row(form.featuredImage) }}
            {% endif %}
            {{ form_row(form.group) }}

            <h3 class="mt-5">Images</h3>
            <div class="container collection p-0 mt-4">
                <div class="row images" data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
                     data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                    {% for image in form.images %}
                        <div class="w-25 d-flex flex-column mb-4">{{ form_row(image) }}</div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="d-flex m-auto">
                        <div class="btn-primary btn add_item_link m-auto mt-3 d-block"
                             data-collection-holder-class="images">Ajouter une image
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mt-5">Videos</h3>
            <div class="container collection p-0 mt-4">
                <div class="row videos" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                     data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                    {% for video in form.videos %}
                        <div class="w-25 d-flex flex-column mb-4">{{ form_row(video) }}</div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="d-flex m-auto">
                        <div class="btn-primary btn add_item_link m-auto mt-3 d-block"
                             data-collection-holder-class="videos">Ajouter une vidéo
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-5">{{ form_errors(form) }}</div>
            <div class="text-center mt-5">{{ form_row(form.save) }}</div>
            {{ form_end(form) }}
        </div>
    </section>
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');
            item.classList.add('w-25', 'mb-4')

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            addTagFormDeleteLink(item);
        };

        const addTagFormDeleteLink = (tagFormLi) => {
            const removeFormButton = document.createElement('button')
            removeFormButton.classList.add('btn-primary')
            removeFormButton.classList.add('btn')
            removeFormButton.classList.add('mt-auto')
            removeFormButton.innerText = 'Supprimer'

            tagFormLi.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault()
                // remove the li for the tag form
                tagFormLi.remove();
            });
        }

        const images = document.querySelectorAll('div.images > div')
        images.forEach((image) => {
            addTagFormDeleteLink(image)
        })

        const videos = document.querySelectorAll('div.videos > div')
        videos.forEach((video) => {
            addTagFormDeleteLink(video)
        })

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => btn.addEventListener("click", addFormToCollection));
    </script>
{% endblock %}
